@media all and (max-width: 30em) {
	.images {
		width: 10%;
	}

	.list > figure {
		height: 5em;
	}

	.art,
	.motiv {
		font-size: 1.5em;
	}

}

@media all and (min-width: 31.250em) {

	.art {
		max-width: 47%;
	}

	.images {
		width: 15%;
	}
}

@media all and (min-width: 50em) {
	.email {
		width: 40%;
		font-size: 1.2em;
	}

	#button {
		width: 25%;
	}

	.images,
	.flag {
		width: 10%;
	}

}

@media all and (min-width: 59.375em) {
	.flag {
		width: 6%;
	}

	.images {
		width: 9%;
	}

	.art {
		max-width: 32%;
	}

	header {
		margin-bottom: 5em;
	}

	.list {
		margin-top: 5em;
	}

	footer {
		margin-top: 2em;
	}

	.art,
	.motiv,
	.email,
	#button {
		font-size: 1.5em;
	}

}
